/node_modules
env_setup.bat
app.yaml
app.flexiable.yaml
.env
.DS_Store
/cred/service_account_file.json
.firebaserc
ui-debug.log
docs/security-review.md
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
